.searchSec {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: transparent;
  z-index: 99;
  flex-direction: column;
}

.searchSec_bg {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: 100;
  background-color: #0a0a0a;
  opacity: 0.8;
}

.searchSec>div {
  background-color: #0a0a0a;
  box-shadow: 0 0 0 1px hsla(0, 0%, 100%, 0.145),
    0px 1px 1px rgba(0, 0, 0, 0.02), 0px 8px 16px -4px rgba(0, 0, 0, 0.04),
    0px 24px 32px -8px rgba(0, 0, 0, 0.06);
  width: 640px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  animation: scaleIn 0.2s ease;
  margin-bottom: 20px;
  max-width: 80vw;
}

@keyframes scaleIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

input[type="number"] {
  font-size: 18px;
  color: hsla(0, 0%, 93%, 1);
  border: none;
  padding: 14px;
  outline: none;
  flex: 1;
  background: transparent;
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.searchSec>div>button {
  height: 20px;
  box-shadow: 0 0 0 1px hsla(0, 0%, 100%, 0.145);
  border-radius: 4px;
  background: #0a0a0a;
  font-size: 13px;
  border: none;
  padding: 2px 6px;
  margin-left: auto;
  align-items: center;
  transition: background-color 0.2s;
  cursor: pointer;
  outline: none;
  color: white;
  margin-right: 10px;
}

.searchSec>div>button:hover {
  background-color: hsla(0, 0%, 10%, 1);
}

.loading {
  z-index: 100;
  font-size: 18px;
}