#vdieo {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
  position: fixed;
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  flex: 1;
  text-align: start;
}

.logout:hover,
.logout:focus-visible {
  box-shadow: 0 0 10px 5px rgba(255, 116, 50, 0.8);
  outline: solid;
}

.loginTitle {
  font-size: 64px;
  font-weight: bolder;
  color: rgb(34 197 94);
}

.inputBox {
  height: 48px;
  max-width: 400px;
  width: 80vw;
  font-size: large;
  border-radius: 6px;
  background-color: rgb(55 65 81);
  color: white;
  border: none;
  outline: none;
  padding-left: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.inputBox::placeholder {
  color: rgb(153, 158, 166);
}

.login_container {
  width: 100vw;
  height: 100vh;
  background-color: rgb(17 24 39);
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginSection {
  background-color: rgb(31 41 55);
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  max-width: 550px;
  width: 100vw;
  height: 80vh;
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000,
    0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.loginSection button {
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgb(34 197 94);
  cursor: pointer;
  padding: 0.8rem 2rem;
  margin: 10px auto 15px auto;
  outline: none;
  border: none;
  color: white;
  border-radius: 8px;
  font-size: larger;
}

.loginSection button:hover {
  background-color: rgb(117 147 83);
}

.register {
  color: #646cff;
  cursor: pointer;
}

.register:hover {
  text-decoration: underline;
}

.register:active {
  color: white;
}

header {
  width: 100vw;
  height: 64px;
  display: flex;
  background: rgba(0, 0, 0, 0.8);
  position: sticky;
  top: 0;
  box-shadow: inset 0 -1px 0 0 #333;
  backdrop-filter: saturate(180%) blur(5px);
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  box-sizing: border-box;
}

header > h1 {
  color: white;
  font-size: 1.3rem;
}

.logout {
  font-size: 1rem;
  margin-left: 40px;
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-weight: 500;
  font-family: inherit;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: box-shadow 0.25s;
}

.code {
  font-size: 2.5rem;
  letter-spacing: 0.04em;
  font-weight: 700;
  margin: auto;
  cursor: pointer;
  width: fit-content;
  color: #fafafa;
  text-align: center;
  --text-gradient: linear-gradient(180deg, #fff, #adadad);
  transition: transform 0.2s;
}

.code:active {
  transform: scale(0.95);
}

.code_header {
  background: linear-gradient(180deg, #111, #111);
  box-sizing: content-box;
  padding: 30px 0;
}

svg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

@media screen and (max-width: 600px) {
  svg {
    left: -50%;
    width: 200%;
  }
}

.search {
  background-color: hsla(0, 0%, 10%, 1);
  outline: none;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 237px;
  border-radius: 6px;
  padding: 0 6px 0 8px;
  color: hsla(0, 0%, 56%, 1);
  font-size: 0.85rem;
  height: 32px;
  transition-property: background-color, color;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.search span {
  height: 20px;
  line-height: 20px;
  border-radius: 6px;
  padding: 0 6px;
  color: hsla(0, 0%, 93%, 1);
  background: #0a0a0a;
  font-weight: 500;
  font-size: 13px;
  font-family: inherit;
  box-shadow: 0 0 0 1px hsla(0, 0%, 100%, 0.145);
  border: none;
  margin-left: 16px;
}

.search:hover {
  background-color: hsla(0, 0%, 15%, 1);
  color: hsla(0, 0%, 100%, 1);
}

.searchSec_bg {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: 100;
  background-color: #0a0a0a;
  opacity: 0.8;
}

.searchSec {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: transparent;
  z-index: 99;
}

.searchSec > div {
  background-color: #0a0a0a;
  box-shadow: 0 0 0 1px hsla(0, 0%, 100%, 0.145),
    0px 1px 1px rgba(0, 0, 0, 0.02), 0px 8px 16px -4px rgba(0, 0, 0, 0.04),
    0px 24px 32px -8px rgba(0, 0, 0, 0.06);
  width: 640px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  animation: scaleIn 0.2s ease;
  max-width: 80vw;
}

@keyframes scaleIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

input[type="search"] {
  font-size: 18px;
  color: hsla(0, 0%, 93%, 1);
  border: none;
  padding: 14px;
  outline: none;
  flex: 1;
  background: transparent;
}

.searchSec > div > button {
  height: 20px;
  box-shadow: 0 0 0 1px hsla(0, 0%, 100%, 0.145);
  border-radius: 4px;
  background: #0a0a0a;
  font-size: 13px;
  border: none;
  padding: 2px 6px;
  margin-left: auto;
  align-items: center;
  transition: background-color 0.2s;
  cursor: pointer;
  outline: none;
  color: white;
  margin-right: 10px;
}

.searchSec > div > button:hover {
  background-color: hsla(0, 0%, 10%, 1);
}

.req_sec {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: transparent;
}

.transparent {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: #0a0a0a;
  opacity: 0.8;
}

/* ------------------------ */

.mainAnimatedDiv {
  opacity: 0.8;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: visible;
  top: 0;
  z-index: 1;
  left: 0;
  transform-origin: top;
  animation: requestheader 20s ease-in-out infinite forwards;
}

@keyframes requestheader {
  0% {
    transform: rotate(0) translateZ(0);
  }
  100% {
    transform: rotate(1turn) translateZ(0);
  }
}

.div1 {
  position: absolute;
  top: 40%;
  left: 0;
  background: #3291ff;
  height: 300px;
  width: 300px;
  filter: blur(300px);
  transform: translateZ(0);
  border-radius: 50%;
}

.div2 {
  position: absolute;
  top: 0;
  right: 0;
  background: #79ffe1;
  height: 300px;
  width: 300px;
  filter: blur(300px);
  transform: translateZ(0);
  border-radius: 50%;
}

.request_card {
  z-index: 11;
  position: relative;
  width: 400px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
  background-color: #000;
  border-radius: 10px;
  box-shadow: 0 0 0 1px hsla(0, 0%, 100%, 0.145),
    0px 1px 1px rgba(0, 0, 0, 0.02), 0px 8px 16px -4px rgba(0, 0, 0, 0.04),
    0px 24px 32px -8px rgba(0, 0, 0, 0.06);
  filter: drop-shadow(0 0 0.75rem #000);
}

.profile {
  width: 200px;
  height: 200px;
}

.profile > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.request_card h1 {
  line-height: normal;
  flex: none;
}

.req_btnContainer {
  display: flex;
  width: 80%;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  flex: 1;
  margin-top: 60px;
}

.rejectReq {
  background-color: #dd3d3d;
  color: white;
  border: none;
  width: 45%;
  padding: 10px 20px;
  border-radius: 6px;
  margin-right: 10px;
  height: 40px;
  cursor: pointer;
  font-weight: 600;
  z-index: 50;
}

.acceptReq {
  background-color: #36bd36;
  border: none;
  width: 45%;
  height: 40px;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  z-index: 50;
}

.acceptReq:hover {
  background-color: #2ecc71;
}

.rejectReq:hover {
  background-color: #ff4d4d;
}

.acceptReq:active {
  background-color: #27ae60;
}

.rejectReq:active {
  background-color: #c0392b;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.avatar_container {
  position: relative;
  width: fit-content;
  padding: 30px 60px;
  background-color: #000000;
  border-radius: 10px;
  box-shadow: 0 0 0 1px hsla(0 0% 100% / 14%), 0 1px 1px rgba(0 0 0 / 2%),
    0 8px 16px -4px rgba(0 0 0 / 4%), 0 24px 32px -8px rgba(0 0 0 / 6%);
  filter: drop-shadow(0 0 0.75rem #000), blur(100px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  user-select: none;
  -webkit-user-drag: none;
  flex-wrap: wrap;
}

.recent_mainAnimatedDiv {
  opacity: 0.8;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: visible;
  top: 0;
  z-index: 1;
  left: 0;
  transform-origin: top;
  animation: requestheader 15s ease-in-out infinite forwards;
}

@keyframes requestheader {
  0% {
    transform: rotate(0) translateZ(0);
  }
  100% {
    transform: rotate(1turn) translateZ(0);
  }
}

.recent_div1 {
  position: absolute;
  top: 40%;
  left: 0;
  background: #3291ff;
  height: 90px;
  width: 90px;
  filter: blur(90px);
  transform: translateZ(0);
  border-radius: 50%;
}

.recent_div2 {
  position: absolute;
  top: 0;
  right: 0;
  background: #79ffe1;
  height: 90px;
  width: 90px;
  filter: blur(90px);
  transform: translateZ(0);
  border-radius: 50%;
}

.avatar_container button {
  background-color: #0070f3;
  color: white;
  border: none;
  width: 100%;
  padding: 10px 20px;
  border-radius: 6px;
  height: 40px;
  cursor: pointer;
  font-weight: 600;
  z-index: 5;
  transition: background-color 0.2s;
  outline: none;
  border: none;
  margin-top: 20px;
}

.avatar_container button:hover {
  background-color: rgba(0, 118, 255, 0.9);
}

.avatar_container button:active {
  background-color: #4d4dff;
}

.avatar_container p {
  color: white;
  font-size: 1.2rem;
  margin-top: 20px;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
}

.recent_section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 5%;
  flex-wrap: wrap;
  gap: 20px;
}
