main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow-y: visible;
  scrollbar-width: thin;
  scrollbar-gutter: 10px;
  scrollbar-color: #333 transparent;
}

.user_name {
  line-height: 1.1;
  flex: 1;
  text-align: start;
}

header {
  width: 100vw;
  height: 64px;
  display: flex;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  box-shadow: inset 0 -1px 0 0 #333;
  backdrop-filter: saturate(180%) blur(5px);
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  box-sizing: border-box;
  z-index: 6;
}

header>h1 {
  color: white;
  font-size: 1.3rem;
}

.logout {
  font-size: 1rem;
  margin-left: 40px;
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-weight: 500;
  font-family: inherit;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: box-shadow 0.25s;
}

.logout:hover,
.logout:focus-visible {
  box-shadow: 0 0 10px 5px rgba(255, 116, 50, 0.8);
  outline: solid;
}

.code {
  font-size: 2.5rem;
  letter-spacing: 0.04em;
  line-height: 1.1;
  font-weight: 700;
  margin: auto;
  cursor: pointer;
  width: fit-content;
  color: #fafafa;
  text-align: center;
  --text-gradient: linear-gradient(180deg, #fff, #adadad);
}

.code:active {
  animation: userIdAnim 0.2s ease-in-out 0ms;
}

@keyframes userIdAnim {
  0% {
    transform: scale(0.9);
    opacity: 0.5;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.code_header {
  background: linear-gradient(180deg, #111, #111);
  box-sizing: content-box;
  padding: 30px 0;
  overflow: visible;
  margin: 64px 0 5% 0;
}

.main_bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.search_icon {
  display: none;
}

.search {
  background-color: hsla(0, 0%, 10%, 1);
  outline: none;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 237px;
  border-radius: 6px;
  padding: 0 6px 0 8px;
  color: hsla(0, 0%, 56%, 1);
  font-size: 0.85rem;
  height: 32px;
  transition-property: background-color, color;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.search span {
  height: 20px;
  line-height: 20px;
  border-radius: 6px;
  padding: 0 6px;
  color: hsla(0, 0%, 93%, 1);
  background: #0a0a0a;
  font-weight: 500;
  font-size: 13px;
  font-family: inherit;
  box-shadow: 0 0 0 1px hsla(0, 0%, 100%, 0.145);
  border: none;
  margin-left: 16px;
}

.search:hover {
  background-color: hsla(0, 0%, 15%, 1);
  color: hsla(0, 0%, 100%, 1);
}

@media (orientation: portrait) {
  .main_bg {
    left: -50%;
    width: 200%;
  }

  .search {
    display: none;
  }

  .search_icon {
    display: flex;
    align-items: center;
    background-color: transparent;
    justify-content: center;
    border-radius: 6px;
    font-size: 0.85rem;
    height: 32px;
    width: 32px;
    transition-property: background-color, color;
    transition-duration: 0.15s;
    transition-timing-function: ease;
    border: none;
    outline: none;
    border-radius: 50%;
  }

  .search_icon:hover {
    background-color: hsla(0, 0%, 15%, 1);
    color: hsla(0, 0%, 100%, 1);
  }

  .search_icon:active {
    animation: userIdAnim 0.2s ease-in-out 0ms;
  }

  .search_icon>svg {
    position: relative;
    z-index: 1;
    fill: white;
    border-radius: 50%;
    padding: 4px;
    width: 24px;
    height: 24px;
  }

  .logout {
    margin-left: 0;
  }
}